name: "CI"
on:
  push:
env:
  # Used by scripts to push container images
  REPO_USERNAME: ${{ github.actor }}
  REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@main

      - name: Setup Nix environment
        uses: ./.github/actions/setup-nix
        with:
          nixbuild_key: ${{ secrets.NIXBUILD_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run build
        run: |
          # Push Lix image
          nix run --file liximage.nix push
          # Push application environment
          nix run --file default.nix push
          # upload scratch image
          nix run --file default.nix uploadCsi
